{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation | Smart-Immo {% endblock %}

{% block body %}

    <section class="container apartmetns py-5">
        <div>
            <h1 class="text-center mb-5">Termes et Conditions Générales</h1>
            <h3>1. Introduction</h3>
            <div class="ms-5 me-5 fs-6">
                <p class="mb-3">
                    Bienvenue sur <span class="fw-bold">Smart Immo</span>, la Plateforme. Ces Conditions Générales d'Utilisation régissent votre accès et votre utilisation de nos services,
                    notamment, mais sans s'y limiter,  l'inscription de biens, la consultation des annonces, la gestion des biens immobiliers, la publication des propriétés
                    et d'autres fonctionnalités connexes proposées par <span class="fw-bold">Smart-Technology</span>.
                </p>
                <p>
                    En accédant ou en utilisant la Plateforme, vous acceptez d'être lié par ces Conditions. Si vous n'acceptez pas ces Conditions, vous ne pouvez pas utiliser la Plateforme.
                </p>
            </div>

            <h3>2. Eligibilité</h3>
            <p class="ms-5 me-5 fs-6">
                Pour utiliser la Plateforme, vous devez avoir plus de 18 ans et être en mesure de conclure un contrat juridiquement contraignant. En utilisant la Plateforme,
                vous déclarez et garantissez que vous remplissez ces critères.
            </p>

            <h3>3. Services</h3>
            <h4>3.1. Pour les agents immobiliers</h4>
            <div class="ms-5 me-5 fs-6">
                Les agents immobiliers peuvent :
                <ul>
                    <li>Publier leurs biens à vendre ou à louer.</li>
                    <li>Gérer leurs annonces et booster la visibilité de leurs biens.</li>
                </ul>
                Chaque publication d'annonce nécessite l'utilisation d'un compte agent, disponible directement sur la Plateforme. Une fois validée par l'agent, l'annonce est publiée
                et visible sur la Plateforme et ne peut point être supprimée par l'agent après publications, cependant il peut être modifié.
            </div>

            <h4>3.2. Pour les clients</h4>
            <div class="ms-5 me-5 fs-6">
                Les clients (acheteurs ou locataires potentiels) peuvent
                <ul>
                    <li>Consulter gratuitement toutes les annonces publiées.</li>
                    <li>Créer un compte pour bénéficier de fonctionnalités supplémentaires telles que.</li>
                    <ul>
                        <li>Consulter gratuitement toutes les annonces publiées.</li>
                        <li>Créer un compte pour bénéficier de fonctionnalités supplémentaires telles que.</li>
                    </ul>
                </ul>
                Chaque publication d'annonce nécessite l'utilisation d'un compte agent, disponible directement sur la Plateforme. Une fois validée par l'agent, l'annonce est publiée
                et visible sur la Plateforme et ne peut point être supprimée par l'agent après publications, cependant il peut être modifié.
            </div>

            <h3>4. Creation de Compte</h3>
            <h4>4.1. Pour les agents immobiliers</h4>
            <div class="ms-5 me-5 fs-6">
                <p>
                    Les agents immobiliers doivent créer un compte professionnel pour accéder à toutes les fonctionnalités de publication et de gestion de biens. Ils sont responsables de :
                </p>
                <ul>
                    <li>Fournir des informations exactes et complètes de chaque bien.</li>
                    <li>Protéger leurs identifiants d'accès (ne pas divulguer).</li>
                </ul>
            </div>

            <h4>4.2. Pour les clients</h4>
            <p class="ms-5 me-5 fs-6">
                La création d'un compte est facultative pour les clients qui souhaitent uniquement consulter des annonces, mais elle est nécessaire pour enregistrer des favoris ou contacter un agent
                et visible sur la Plateforme et ne peut point être supprimée par l'agent après publications, cependant il peut être modifié.
            </p>

            <h3>5. Exigences relatives aux annonces</h3>
            <h4>5.1. Exactitude des informations</h4>
            <p class="ms-5 me-5 fs-6">
                Les agents doivent fournir des descriptions claires et précises et des images professionnelles de chaque bien. Les informations doivent être conformes
                à la réglementation en vigueur établie par les normes immobilières et par Smart Immo Listing.
            </p>

            <h4>5.2. Contenu inapproprié</h4>
            <p class="ms-5 me-5 fs-6">
                Les annonces contenant des contenus non qualitatifs, offensants, fausse ou contraires à la loi peuvent être supprimées par l'équipe de modération de la Plateforme Smart Immo Listing.
            </p>

            <h3>6. Utilisation de la Plateforme</h3>
            <h4>6.1. Licence d'utilisation</h4>
            <p class="ms-5 me-5 fs-6">
                Nous accordons une licence limitée, non exclusive et révocable pour accéder et utiliser la Plateforme dans le respect des présentes Conditions.
            </p>

            <h4>6.2. Restrictions</h4>
            <div class="ms-5 me-5 fs-6">
                Il est interdit de :
                <ul>
                    <li>Utiliser la Plateforme à des fins illégales.</li>
                    <li>Tenter d'accéder à des systèmes non autorisés.</li>
                    <li>Perturber les fonctionnalités de la Plateforme.</li>
                    <li>Utiliser la Plateforme pour tout blanchiment d'argent.</li>
                </ul>
            </div>

            <h3>7. Utilisation de la Plateforme</h3>
            <p class="ms-5 me-5 fs-6">
                Tout le contenu et les fonctionnalités de la Plateforme sont la propriété de <span class="fw-bold">Smart-Technology</span> et protégés par les lois en vigueur sur la propriété intellectuelle.
            </p>

            <h3>8. Limitation de responsabilité</h3>
            <div class="ms-5 me-5 fs-6">
                <ul>
                    <li>
                        Nous ne sommes pas responsables des dommages directs ou indirects résultant de l'utilisation de la Plateforme. Les utilisateurs sont seuls responsables des informations publiées.
                    </li>
                    <li>
                        Nous déclinons toute responsabilité en cas de litiges, malentendus ou problèmes relationnels entre les clients et les agents/agences immobilières.
                        Chaque utilisateur (clients, agents et agences) est seul responsable des informations qu'il publie et des interactions qu'il engage via la plateforme.
                    </li>
                </ul>
            </div>

            <h3>9. Indemnisation</h3>
            <p class="ms-5 me-5 fs-6">
                Vous acceptez de défendre et d'indemniser  <span class="fw-bold">Smart-Technology</span> contre toute réclamation ou dommage lié à votre utilisation de la Plateforme ou à la violation des présentes Conditions.
            </p>

            <h3>10. Modifications des Conditions</h3>
            <p class="ms-5 me-5 fs-6">
                Nous nous réservons le droit de modifier ces Conditions à tout moment. Les modifications seront effectives dès leur publication sur la Plateforme.
            </p>

            <h3>11. Résiliation</h3>
            <p class="ms-5 me-5 fs-6">
                Nous pouvons suspendre ou résilier l'accès à la Plateforme en cas de non-respect des présentes Conditions ou cas d'indiscipline
            </p>

            <h3>12. Contact</h3>
            <div class="ms-5 me-5 fs-6">
                <p>
                    Pour toute question ou assistance, veuillez nous contacter via :
                </p>
                <ul>
                    <li>Notre numéro de service client : <a href="tel:+243980333346">+243 980 333 346</a></li>
                    <li>Notre adresse mail : <a href="mailto:info@smarttech-rdc.com">Info@smarttech-rdc.com</a></li>
                </ul>
            </div>


        </div>
    </section>

{% endblock %}
